body {
    font-family: 'Inter';
}

.wrap {
    display: flex;
    width: 100%;
    overflow: hidden;
    align-items: stretch;
}

.sidebar,
.sidebar-content {
    transition: margin-left .35s ease-in-out, left .35s ease-in-out, margin-right .35s ease-in-out, right .35s ease-in-out;
    background: #222e3c;
}

.sidebar {
    min-width: 260px;
    max-width: 260px;
    direction: ltr;
    min-height: 100vh;
}

.main {
    display: flex;
    width: 100%;
    min-width: 0;
    min-height: 100vh;
    transition: margin-left .35s ease-in-out, left .35s ease-in-out, margin-right .35s ease-in-out, right .35s ease-in-out;
    background: #f5f7fb;
    flex-direction: column;
    overflow: hidden;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.sidebar-toggle {
    margin-right: 1rem;
}

.sidebar-toggle {
    cursor: pointer;
    width: 26px;
    height: 26px;
    display: flex;
}

.hamburger {
    position: relative;
}

.hamburger,
.hamburger:after,
.hamburger:before {
    cursor: pointer;
    border-radius: 1px;
    height: 3px;
    width: 24px;
    background: #495057;
    display: block;
    content: "";
    transition: background .1s ease-in-out, color .1s ease-in-out;
}

.hamburger:before {
    top: -7.5px;
    width: 24px;
    position: absolute;
}

.hamburger:after {
    bottom: -7.5px;
    width: 16px;
    position: absolute;
}

.navbar-bg {
    background: #fff;
}

.navbar {
    border-bottom: 0;
    box-shadow: 0 0 2rem 0 rgb(33 37 41 / 10%);
}

.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: .875rem 1.375rem;
}

.sidebar.collapsed {
    margin-left: -260px;
}

.sidebar-brand {
    font-weight: 600;
    font-size: 1.15rem;
    padding: 1.15rem 1.5rem;
    display: block;
    color: #f8f9fa;
}

.sidebar-nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    flex-grow: 1;
}

.sidebar-header {
    background: transparent;
    padding: 1.5rem 1.5rem .375rem;
    font-size: .75rem;
    color: #ced4da;
}

.sidebar-item.active .sidebar-link:hover,
.sidebar-item.active>.sidebar-link {
    color: #e9ecef;
    background: linear-gradient( 90deg, rgba(59, 125, 221, .1), rgba(59, 125, 221, .0875) 50%, transparent);
    border-left-color: #3b7ddd;
}

.sidebar-link,
a.sidebar-link {
    display: block;
    padding: .625rem 1.625rem;
    font-weight: 400;
    transition: background .1s ease-in-out;
    position: relative;
    text-decoration: none;
    cursor: pointer;
    color: rgba(233, 236, 239, .5);
    background: #222e3c;
    border-left: 3px solid transparent;
}

.sidebar [data-bs-toggle=collapse]:after {
    content: " ";
    border: solid;
    border-width: 0 .075rem .075rem 0;
    display: inline-block;
    padding: 2px;
    transform: rotate( 45deg);
    position: absolute;
    top: 1.2rem;
    right: 1.5rem;
    transition: all .2s ease-out;
}

.sidebar [aria-expanded=true]:after,
.sidebar [data-bs-toggle=collapse]:not(.collapsed):after {
    transform: rotate( -135deg);
    top: 1.4rem;
}

.sidebar-item.active .sidebar-link:hover i,
.sidebar-item.active .sidebar-link:hover svg,
.sidebar-item.active>.sidebar-link i,
.sidebar-item.active>.sidebar-link svg {
    color: #e9ecef;
}

.sidebar-link i,
.sidebar-link svg,
a.sidebar-link i,
a.sidebar-link svg {
    margin-right: .75rem;
    color: rgba(233, 236, 239, .5);
}

a.sidebar-link svg {
    width: 18px;
    height: 18px;
    stroke-width: 2;
}

.sidebar-dropdown .sidebar-link::before {
    content: "›";
    display: inline-block;
    position: relative;
    left: -14px;
    transform: translateX(0px);
    transition: all 0.1s ease 0s;
}

.sidebar-dropdown .sidebar-link {
    padding: .625rem 1.5rem .625rem 3.25rem;
    font-weight: 400;
    font-size: 90%;
    border-left: 0;
    color: #adb5bd;
    background: transparent;
}

.sidebar-link,
a.sidebar-link {
    display: block;
    padding: .625rem 1.625rem;
    font-weight: 400;
    transition: background .1s ease-in-out;
    position: relative;
    text-decoration: none;
    cursor: pointer;
    color: rgba(233, 236, 239, .5);
    background: #222e3c;
    border-left: 3px solid transparent;
}

.content {
    padding: 1.5rem 1.5rem .75rem;
    flex: 1;
    width: 100vw;
    max-width: 100vw;
    direction: ltr;
}

@media (min-width: 992px) {
    .content {
        padding: 3rem 3rem 1.5rem;
    }
}

@media (min-width: 768px) {
    .content {
        width: auto;
        max-width: auto;
    }
}

.navbar-collapse {
    flex-grow: 0 !important;
}

.navbar .avatar {
    margin-top: -15px;
    margin-bottom: -15px;
}

.avatar {
    width: 40px;
    height: 40px;
}

.dropdown-toggle.user:after {
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
}

.dropdown-toggle.user:after {
    border: solid;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 2px;
    transform: rotate( 45deg);
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: .35rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #495057;
    text-align: inherit;
    white-space: nowrap;
    background-color: initial;
    border: 0;
}

.dropdown-item {
    transition: background .1s ease-in-out, color .1s ease-in-out;
}

.dropdown-item svg {
    width: 18px;
    height: 18px;
    stroke-width: 2;
}

.dropdown-item svg {
    margin-right: .25rem!important;
}

.nav-flag,
.nav-icon {
    padding: .1rem .8rem;
    display: block;
    font-size: 1.5rem;
    color: #6c757d;
    transition: background .1s ease-in-out, color .1s ease-in-out;
    line-height: 1.4;
}

.nav-icon.dropdown-toggle::after {
    display: none;
}

.nav-flag svg,
.nav-icon svg {
    width: 20px;
    height: 20px;
}

.nav-item .indicator {
    background: #3b7ddd;
    box-shadow: 0 0.1rem 0.2rem rgb(0 0 0 / 5%);
    border-radius: 50%;
    display: block;
    height: 18px;
    width: 18px;
    padding: 1px;
    position: absolute;
    top: 0;
    right: -8px;
    text-align: center;
    transition: top .1s ease-out;
    font-size: .675rem;
    color: #fff;
}

.dropdown-menu {
    position: absolute;
    z-index: 1000;
    display: none;
    min-width: 10rem;
    padding: .5rem 0;
    margin: 0;
    font-size: .875rem;
    color: #495057;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: .2rem;
}

.dropdown-menu-lg {
    min-width: 20rem;
}

.dropdown-menu-header {
    padding: .75rem;
    text-align: center;
    font-weight: 600;
    border-bottom: 1px solid #dee2e6;
}

.dropdown-menu-footer {
    padding: .5rem;
    text-align: center;
    display: block;
    font-size: .75rem;
}

@media (max-width: 575.98px) {
    .nav-item.dropdown {
        position: inherit;
    }
    .navbar-expand .navbar-nav .dropdown-menu-lg {
        min-width: 100%;
    }
}

@media (max-width: 767.98px) {
    .navbar {
        width: 100vw;
    }
}

@media (min-width: 1px) and (max-width: 991.98px) {
    .sidebar {
        margin-left: -260px;
    }
    .sidebar.collapsed {
        margin-left: 0;
    }
}

footer.footer {
    padding: 1rem .875rem;
    direction: ltr;
    background: #fff;
}

.page-body-wrapper {
    min-height: calc(100vh - 60px);
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    padding-left: 0;
    padding-right: 0;
    padding-top: 60px;
}

.page-body-wrapper.full-page-wrapper {
    width: 100%;
    min-height: 100vh;
    padding-top: 0;
}

.auth.auth-img-bg {
    padding: 0;
}

.content-wrapper {
    background: #f3f3f3;
    padding: 2.1rem 1.04rem;
    width: 100%;
    -webkit-flex-grow: 1;
    flex-grow: 1;
}

.container-scroller {
    overflow: hidden;
}

.flex-grow {
    flex-grow: 1;
}

.auth .auth-form-transparent {
    background: transparent;
}

@media (min-width: 768px) {
    .auth.auth-img-bg .auth-form-transparent {
        width: 55%;
        margin: auto;
    }
}

.auth .login-half-bg {
    background: url(../img/login-bg.jpg);
    background-size: cover;
}

.auth .auth-form-light {
    background: #ffffff;
}

.auth .register-half-bg {
    background: url(../img/register-bg.jpg);
    background-size: cover;
}